h1,h2,h3,h4,h5,h6,p,.col-sm-6,.col-sm-4,div,a,.step,.row,.col-sm-8,.col-sm-4,.col-sm-3,.col-sm-12,span,label{
	margin:0;
	padding:0;
}
html{
    @media screen and (max-width:1600px){
        zoom:.85;
    }
}