.getacoEmbed{
    .__getAcoPopup { 
        opacity:1;
        &.fade{
            opacity: 1;
            -webkit-transform: translate(0,0);
            -moz-transform: translate(0,0);
            transform: translate(0,0);
            .modal-dialog {
                max-width: 570px!important;
                -webkit-transform: translate(0,0);
                -moz-transform: translate(0,0);
                transform: translate(0,0);
            }
        }
        .modal-body {
            background: #fff;
            padding: 0px;
        }
        .modal-content .close {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
    .modal-dialog-wrap {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
        .modal-dialog {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .modal-content {
                display: inline-block;
                text-align: left;
                width: auto;
            }
        }
    }
}